.bg-image {
    /* Full height */
    height: 50%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Images used */
.img1 { background-image: url("background.png"); }
.img2 { background-image: url("paralax-img2.jpg"); }
.img3 { background-image: url("paralax-img3.jpg"); }
.img4 { background-image: url("paralax-img.jpg"); }
.img5 { background-image: url("background.png"); }

/* Position text in the middle of the page/image */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.name-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 5EM;
    border: 10px solid #f1f1f1;
    width: 18%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


.education-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 5EM;
    border: 10px solid #f1f1f1;
    width: 18%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.experiance-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 5EM;
    border: 10px solid #f1f1f1;
    width: 20%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.charity-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 5EM;
    border: 10px solid #f1f1f1;
    width: 20%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.about-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 5EM;
    border: 10px solid #f1f1f1;
    width: 20%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.text-box1 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 2.5EM;
    border: 5px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.text-box2 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 2.5EM;
    border: 5px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 275px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.text-box3 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 2.5EM;
    border: 5px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.text-box4 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 2.5EM;
    border: 5px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.text-box5 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 2.5EM;
    border: 5px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }
    
    .cd-section--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed;
    }
    
    /* backgrounds */
    .cd-section:nth-child(1) {
    background-image: url("first-picture.png");
    }
    
    .cd-section:nth-child(2) {
    background-image:  url("second-image.jpg");
    }
    
    .cd-section:nth-child(3) {
    background-image: url("third-image.jpg");
    }

    .cd-section:nth-child(4) {
    background-image: url("fourth-image.jpg");
    }
    
    .cd-section:nth-child(5) {
    background-image: url("fifth-image.jpg");
    }
    /* all other background images */
